/*!
Theme: Borodist
Author: AMD - Andrey Galkin
Version: 1.1
 */

/*------------------------------------------------------------------

+ IMPORT FONTS
+ ROOT
+ TYPOGRAPHY
+ LINKS
+ FORMS
+ BUTTONS
+ ANIMATIONS
+ BASE STYLES
+ ICONS

+ CONTENT
+ MAIN CONTENT

+ MEDIA

+ HEADER
+ MENU
+ FOOTER
+ MODAL
+ MODAL ADD ITEM
+ CTA SECTION
+ TESTIMONIAL SECTION
+ PRODUCT CARD

-------------------------------------------------------------------*/

/*//////////////////////////////////////////////////////////////////
[ + IMPORT FONTS ]*/

@import url('../fonts/stylesheet.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap');
@import url('../fonts/boxicons/boxicons.min.css');

/*//////////////////////////////////////////////////////////////////
[ + ROOT ]*/

:root {
    --color-red: #8C0000;
    --color-gray: #495469;
    --color-light-gray: #9AA0AC;
    --color-light-gray2: #F7F7F7;
    --color-white: #FFFFFF;
    --color-yellow: #FFD763;
    --color-orange: #F6AF54;
    --color-light: #FEF7EA;
    --ff-main: 'Montserrat', sans-serif;
    --ff-title: 'OzHandicraft WGL4 BT', sans-serif;
    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semibold: 600;
    --fw-bold: 700;
    --bs-body-font-family: var(--ff-main);
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: var(--fw-medium);
    --bs-body-line-height: 1.2;
    --bs-body-color: var(--color-gray);
    --bs-body-bg: #fff;
    --bs-border-color: #E6E7E8;
    --bs-link-color: var(--color-gray);
    --bs-link-hover-color: var(--color-red);
}

body {
    margin: 0;
    font-family: var(--ff-main);
    font-size: 16px;
    font-weight: var(--fw-medium);
    line-height: 1.375;
    color: var(--color-gray);
    background: var(--color-white);
}

/*//////////////////////////////////////////////////////////////////
[ + TYPOGRAPHY ]*/

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: var(--ff-title);
    font-weight: var(--fw-medium);
    line-height: 1;
    text-transform: uppercase;
}

h1,
.h1 {
    font-size: 32px;
}

h2,
.h2 {
    font-size: 28px;
}

h3,
.h3 {
    font-size: 26px;
}

h4,
.h4 {
    font-size: 24px;
}

h5,
.h5 {
    font-size: 20px;
}

h6,
.h6 {
    font-size: 18px;
}

@media (min-width: 992px) {

    h1,
    .h1 {
        font-size: 64px;
    }

    h2,
    .h2 {
        font-size: 42px;
    }

    h3,
    .h3 {
        font-size: 32px;
    }

    h4,
    .h4 {
        font-size: 28px;
    }

    h5,
    .h5 {
        font-size: 26px;
    }

    h6,
    .h6 {
        font-size: 24px;
    }
}

/*//////////////////////////////////////////////////////////////////
[ + LINKS ]*/

a {
    text-decoration: none;
}

.bg-color-gray {
    --bs-link-color: var(--color-white);
    --bs-link-hover-color: var(--color-yellow);
}

/*//////////////////////////////////////////////////////////////////
[ + FORMS ]*/

input,
button,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
    outline: none;
}

:focus,
:active {
    outline: none;
}

textarea {
    overflow: auto;
}

.form-control {
    height: auto;
    font-size: 18px;
}

.form-select {
    height: auto;
    font-size: 18px;
    color: var(--color-gray);
}

.form-control-xl {
    padding: 0.75rem 1.5rem;
}

.form-control:focus,
.form-select:focus {
    box-shadow: none;
}

.form-check-input {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border: 2px solid var(--color-gray);
    background-color: transparent;
}

.form-check-input:checked {
    border-color: var(--color-gray);
    background-color: transparent;
}

.form-check-input[type=checkbox],
.form-check-input[type=radio] {
    border-radius: 8px;
}

.form-check-input:checked[type=checkbox],
.form-check-input:checked[type=radio] {
    background-image: url(../img/check.svg);
}

.form-check {
    display: flex;
    padding-left: 0;
}

.form-check .form-check-input {
    margin-left: 0;
    float: none;
    flex: 0 0 auto;
}

.form-check-input:focus {
    border-color: var(--color-gray);
    box-shadow: none;
}

.form-check .form-check-label {
    flex: 1 1 auto;
}

/*//////////////////////////////////////////////////////////////////
[ + BUTTONS ]*/

.btn {
    --bs-btn-padding-x: 2rem;
    --bs-btn-padding-y: 0.5rem;
    --bs-btn-font-family: var(--ff-main);
    --bs-btn-font-size: 16px;
    --bs-btn-font-weight: var(--fw-semibold);
    --bs-btn-line-height: 1.5;
    --bs-btn-color: var(--color-gray);
    --bs-btn-bg: transparent;
    --bs-btn-border-width: 1px;
    --bs-btn-border-color: transparent;
    --bs-btn-border-radius: 0.75rem;
    --bs-btn-hover-border-color: transparent;
    --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
    --bs-btn-disabled-opacity: 0.5;
    --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
}

.btn-primary {
    --bs-btn-color: var(--color-gray);
    --bs-btn-bg: var(--color-yellow);
    --bs-btn-border-color: var(--color-yellow);
    --bs-btn-hover-color: var(--color-gray);
    --bs-btn-hover-bg: var(--color-orange);
    --bs-btn-hover-border-color: var(--color-orange);
    --bs-btn-focus-shadow-rgb: 226, 3, 56;
    --bs-btn-active-color: var(--color-gray);
    --bs-btn-active-bg: var(--color-orange);
    --bs-btn-active-border-color: var(--color-orange);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: var(--color-gray);
    --bs-btn-disabled-bg: var(--color-yellow);
    --bs-btn-disabled-border-color: var(--color-yellow);
}

.btn-secondary {
    --bs-btn-color: var(--color-white);
    --bs-btn-bg: var(--color-gray);
    --bs-btn-border-color: var(--color-gray);
    --bs-btn-hover-color: var(--color-gray);
    --bs-btn-hover-bg: var(--color-yellow);
    --bs-btn-hover-border-color: var(--color-white);
    --bs-btn-focus-shadow-rgb: 226, 3, 56;
    --bs-btn-active-color: var(--color-white);
    --bs-btn-active-bg: var(--color-gray);
    --bs-btn-active-border-color: var(--color-gray);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: var(--color-white);
    --bs-btn-disabled-bg: var(--color-gray);
    --bs-btn-disabled-border-color: var(--color-gray);
}

.btn-gray {
    --bs-btn-border-width: 2px;
    --bs-btn-color: var(--color-white);
    --bs-btn-bg: var(--color-gray);
    --bs-btn-border-color: var(--color-gray);
    --bs-btn-hover-color: var(--color-gray);
    --bs-btn-hover-bg: var(--color-white);
    --bs-btn-hover-border-color: var(--color-gray);
    --bs-btn-focus-shadow-rgb: 226, 3, 56;
    --bs-btn-active-color: var(--color-gray);
    --bs-btn-active-bg: var(--color-white);
    --bs-btn-active-border-color: var(--color-white);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: var(--color-white);
    --bs-btn-disabled-bg: var(--color-gray);
    --bs-btn-disabled-border-color: var(--color-gray);
}

.btn-white {
    --bs-btn-border-width: 2px;
    --bs-btn-color: var(--color-gray);
    --bs-btn-bg: var(--color-white);
    --bs-btn-border-color: var(--color-white);
    --bs-btn-hover-color: var(--color-white);
    --bs-btn-hover-bg: var(--color-gray);
    --bs-btn-hover-border-color: var(--color-gray);
    --bs-btn-focus-shadow-rgb: 226, 3, 56;
    --bs-btn-active-color: var(--color-white);
    --bs-btn-active-bg: var(--color-gray);
    --bs-btn-active-border-color: var(--color-gray);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: var(--color-gray);
    --bs-btn-disabled-bg: var(--color-white);
    --bs-btn-disabled-border-color: var(--color-white);
}

.btn-icon {
    --btn-icon-size: 2.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: var(--btn-icon-size);
    height: var(--btn-icon-size);
    padding: 0 !important;
    border-radius: 50%;
}

/*//////////////////////////////////////////////////////////////////
[ + ANIMATIONS ]*/

.hover-shine:hover {
    opacity: 1;
    -webkit-animation: flash .8s;
    animation: flash .8s;
}

@-webkit-keyframes flash {
    0% {
        opacity: .65
    }

    100% {
        opacity: 1
    }
}

@keyframes flash {
    0% {
        opacity: .65
    }

    100% {
        opacity: 1
    }
}

.hover-opacity {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.hover-opacity:hover {
    opacity: .65;
}

/*//////////////////////////////////////////////////////////////////
[ + BASE STYLES ]*/

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.bg-img {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-img-top-contain {
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: contain;
}

.ff-main {
    font-family: var(--ff-main);
}

.ff-title {
    font-family: var(--ff-title);
    text-transform: uppercase;
}

.color-gray {
    color: var(--color-gray);
}

.color-light-gray {
    color: var(--color-light-gray);
}

.color-light-gray2 {
    color: var(--color-light-gray2);
}

.color-red {
    color: var(--color-red);
}

.color-white {
    color: var(--color-white);
}

.color-gray-hover:hover {
    color: var(--color-gray);
}

.color-light-gray-hover:hover {
    color: var(--color-light-gray);
}

.color-light-gray2-hover:hover {
    color: var(--color-light-gray2);
}

.color-red-hover:hover {
    color: var(--color-red);
}

.color-white-hover:hover {
    color: var(--color-white);
}

.bg-color-gray {
    background-color: var(--color-gray);
}

.bg-color-light-gray {
    background-color: var(--color-light-gray);
}

.bg-color-light-gray2 {
    background-color: var(--color-light-gray2);
}

.bg-color-light {
    background-color: var(--color-light);
}

.bg-color-yellow {
    background-color: var(--color-yellow);
}

.border-grey {
    border-color: var(--color-gray) !important;
}

.fs-40 {
    font-size: 40px;
}

.fs-38 {
    font-size: 38px;
}

.fs-23 {
    font-size: 23px;
}

.fs-20 {
    font-size: 20px;
}

.fs-19 {
    font-size: 19px;
}

.fs-16 {
    font-size: 16px;
}

.fs-15 {
    font-size: 15px;
}

.fs-14 {
    font-size: 14px;
}

.fs-12 {
    font-size: 12px;
}

.fs-10 {
    font-size: 10px;
}

@media (min-width: 768px) {

    .fs-md-50 {
        font-size: 50px;
    }

    .fs-md-38 {
        font-size: 38px;
    }

    .fs-md-35 {
        font-size: 35px;
    }

    .fs-md-30 {
        font-size: 30px;
    }

    .fs-md-28 {
        font-size: 28px;
    }

    .fs-md-22 {
        font-size: 22px;
    }

    .fs-md-20 {
        font-size: 20px;
    }

    .fs-md-18 {
        font-size: 18px;
    }

    .fs-md-16 {
        font-size: 16px;
    }

    .fs-md-13 {
        font-size: 13px;
    }

    .fs-md-12 {
        font-size: 12px;
    }

    .fs-md-10 {
        font-size: 10px;
    }
}

@media (min-width: 992px) {

    .fs-lg-90 {
        font-size: 90px;
    }

    .fs-lg-70 {
        font-size: 70px;
    }

    .fs-lg-64 {
        font-size: 64px;
    }

    .fs-lg-56 {
        font-size: 56px;
    }

    .fs-lg-50 {
        font-size: 50px;
    }

    .fs-lg-24 {
        font-size: 24px;
    }

    .fs-lg-20 {
        font-size: 20px;
    }

    .fs-lg-16 {
        font-size: 16px;
    }
}

.fw-light,
.fw-300 {
    font-weight: var(--fw-light);
}

.fw-normal,
.fw-regular,
.fw-400 {
    font-weight: var(--fw-regular);
}

.fw-medium,
.fw-500 {
    font-weight: var(--fw-medium);
}

.fw-semibold,
.fw-600 {
    font-weight: var(--fw-semibold);
}

.fw-bold,
.fw-700 {
    font-weight: var(--fw-bold);
}

.b-radius-15 {
    border-radius: 15px;
}

.b-radius-20 {
    border-radius: 20px;
}

.b-radius-25 {
    border-radius: 25px;
}

.b-radius-35 {
    border-radius: 35px;
}

.b-radius-40 {
    border-radius: 40px;
}

.b-radius-50 {
    border-radius: 50px;
}

.top-30 {
    top: 30px;
}

.line-height-1 {
    line-height: 1;
}

/*//////////////////////////////////////////////////////////////////
[ + ICONS ]*/

.icon {
    display: inline-block;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
}

.icon-search {
    width: var(--icon-square-size);
    height: var(--icon-square-size);
    background-image: url(../img/icon-search-white.svg);
}

.btn:hover .icon-search {
    background-image: url(../img/icon-search-hover.svg);
}

.icon-cart {
    width: var(--icon-square-size);
    height: var(--icon-square-size);
    background-image: url(../img/icon-cart-white.svg);
}

.btn:hover .icon-cart {
    background-image: url(../img/icon-cart-hover.svg);
}

.icon-heart {
    width: var(--icon-square-size);
    height: var(--icon-square-size);
    background-image: url(../img/icon-heart-white.svg);
}

.btn:hover .icon-heart {
    background-image: url(../img/icon-heart-hover.svg);
}

.icon-login {
    width: var(--icon-square-size);
    height: var(--icon-square-size);
    background-image: url(../img/icon-login-white.svg);
}

.btn:hover .icon-login {
    background-image: url(../img/icon-login-hover.svg);
}

.icon-arrow {
    width: 69px;
    height: 10px;
    background-image: url(../img/arrow.svg);
}

.btn:hover .icon-arrow {
    background-image: url(../img/arrow-hover.svg);
}

/*//////////////////////////////////////////////////////////////////
[ + CONTENT ]*/

/*//////////////////////////////////////////////////////////////////
[ + MAIN CONTENT ]*/

.main {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.card {
    --bs-card-cap-bg: transparent;
    word-wrap: normal;
}

.swiper {
    --swiper-pagination-color: transparent;
    --swiper-pagination-bullet-inactive-color: transparent;
    --swiper-pagination-bullet-size: 8px;
}

.swiper-pagination-bullet {
    border: 1px solid #485368;
}

.productCardSwiper-next,
.productCardSwiper-prev {
    width: 150px;
    height: 109px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.productCardSwiper-next {
    right: 20px;
    left: auto;
}

.productCardSwiper-prev {
    left: 20px;
    right: auto;
}

.bg-color-yellow .form-control {
    background-color: transparent;
}

.bg-color-yellow .form-control:focus {
    background-color: var(--color-white);
}

.breadcrumb {
    --bs-breadcrumb-margin-bottom: 0;
}

.breadcrumb a {
    text-decoration: none;
}

.play-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 120px;
    height: 120px;
}

.play-video>img {
    transition: .3s all ease;
}

.play-video:hover>img {
    transform: scale(1.2);
}

.productItemSwiper-next,
.productItemSwiper-prev {
    position: absolute;
    top: auto;
    bottom: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: auto;
    cursor: pointer;
    z-index: 15;
}

.productItemSwiper-next {
    right: 10px;
    left: auto;
}

.productItemSwiper-prev {
    right: auto;
    left: 10px;
}

.card.card-blog {
    --bs-card-spacer-x: 0;
    --bs-card-spacer-y: 8px;
    --bs-card-border-width: 0;
    --bs-card-cap-padding-x: 0;
    --bs-card-cap-padding-y: 0;
}

.pagination {
    --bs-pagination-item-margin-x: 0.125rem;
    --bs-pagination-item-margin-y: 0;
    --bs-pagination-item-width: 2.5rem;
    --bs-pagination-item-height: 2.5rem;
    --bs-pagination-padding-x: 0;
    --bs-pagination-padding-y: 0;
    --bs-pagination-font-size: 1rem;
    --bs-pagination-color: var(--bs-link-color);
    --bs-pagination-bg: transparent;
    --bs-pagination-border-width: 0;
    --bs-pagination-border-color: transparent;
    --bs-pagination-border-radius: 0.375rem;
    --bs-pagination-hover-color: var(--bs-link-hover-color);
    --bs-pagination-hover-bg: #e9ecef;
    --bs-pagination-hover-border-color: transparent;
    --bs-pagination-focus-color: var(--bs-link-hover-color);
    --bs-pagination-focus-bg: #e9ecef;
    --bs-pagination-focus-box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
    --bs-pagination-active-color: var(--bs-link-color);
    --bs-pagination-active-bg: var(--color-yellow);
    --bs-pagination-active-border-color: transparent;
    --bs-pagination-disabled-color: #6c757d;
    --bs-pagination-disabled-bg: #fff;
    --bs-pagination-disabled-border-color: transparent;
}

.pagination .page-item {
    margin: var(--bs-pagination-item-margin-y) var(--bs-pagination-item-margin-x);
}

.pagination .page-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--bs-pagination-item-width);
    height: var(--bs-pagination-item-height);
    border-radius: var(--bs-pagination-border-radius);
}

.pagination .page-item:not(:first-child) .page-link {
    margin-left: 0;
}

/*//////////////////////////////////////////////////////////////////
[ + MEDIA ]*/

@media (min-width: 576px) {}

@media (min-width: 768px) {

    body {
        font-size: 10px;
    }

    .btn-md-gray {
        --bs-btn-border-width: 2px;
        --bs-btn-color: var(--color-white);
        --bs-btn-bg: var(--color-gray);
        --bs-btn-border-color: var(--color-gray);
        --bs-btn-hover-color: var(--color-gray);
        --bs-btn-hover-bg: var(--color-white);
        --bs-btn-hover-border-color: var(--color-gray);
        --bs-btn-focus-shadow-rgb: 226, 3, 56;
        --bs-btn-active-color: var(--color-gray);
        --bs-btn-active-bg: var(--color-white);
        --bs-btn-active-border-color: var(--color-white);
        --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
        --bs-btn-disabled-color: var(--color-white);
        --bs-btn-disabled-bg: var(--color-gray);
        --bs-btn-disabled-border-color: var(--color-gray);
    }

    .b-radius-md-15 {
        border-radius: 15px;
    }

    .b-radius-md-20 {
        border-radius: 20px;
    }

    .b-radius-md-25 {
        border-radius: 25px;
    }

    .b-radius-md-35 {
        border-radius: 35px;
    }

    .b-radius-md-40 {
        border-radius: 40px;
    }

    .b-radius-md-50 {
        border-radius: 50px;
    }

    .main {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }
}

@media (min-width: 992px) {

    body {
        font-size: 16px;
    }

    .b-radius-lg-15 {
        border-radius: 15px;
    }

    .b-radius-lg-20 {
        border-radius: 20px;
    }

    .b-radius-lg-25 {
        border-radius: 25px;
    }

    .b-radius-lg-35 {
        border-radius: 35px;
    }

    .b-radius-lg-40 {
        border-radius: 40px;
    }

    .b-radius-lg-50 {
        border-radius: 50px;
    }

    .main {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
}

@media (min-width: 1200px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1154px;
    }
}

/*//////////////////////////////////////////////////////////////////
[ + HEADER ]*/

.bg-img-main {
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.logo {
    width: 130px;
}

.cart-tool-text {
    display: flex;
    align-items: center;
    text-align: center;
    height: 28px;
    font-size: 9px;
    font-weight: var(--fw-semibold);
    white-space: nowrap;
    padding: 5px 20px;
    border-radius: 25px;
    background-color: var(--color-yellow);
}

@media (min-width: 768px) {

    .logo {
        width: 140px;
    }

    .cart-tool-text {
        height: 22px;
        font-size: 8px;
        padding: 5px 15px;
    }
}

@media (min-width: 992px) {

    .logo {
        width: 220px;
    }

    .cart-tool-text {
        height: 40px;
        font-size: 14px;
        padding: 5px 30px;
    }
}

/*//////////////////////////////////////////////////////////////////
[ + MENU ]*/

.navbar {
    --bs-navbar-padding-x: 0;
    --bs-navbar-padding-y: .75rem;
    --bs-navbar-color: var(--color-gray);
    --bs-navbar-hover-color: var(--color-red);
    --bs-navbar-disabled-color: rgba(0, 0, 0, 0.3);
    --bs-navbar-active-color: var(--color-gray);
    --bs-navbar-nav-link-padding-x: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0px 0px 10px 8px rgb(0 0 0 / 3%);
}

.navbar-nav {
    --bs-nav-link-padding-x: 20px;
    --bs-nav-link-padding-y: 10px;
    --bs-nav-link-font-size: 16px;
    --bs-nav-link-font-weight: 600;
}

.navbar-nav .nav-link {
    border: 1px solid;
    border-color: transparent;
    border-radius: 15px;
}

.navbar-nav .nav-link.active {
    border-color: transparent;
}

.navbar-toggler {
    border: none !important;
    outline: 0;
    box-shadow: none !important;
    padding: 0.25rem 0;
    background: transparent;
}

.navbar-toggler .icon-bar {
    display: block;
    width: 27px;
    height: 2px;
    border-radius: 0;
    background-color: #485368;
    transform: rotate(0deg) translate(0px, 0px);
    transition: ease all .3s;
}

.navbar-toggler .icon-bar+.icon-bar {
    margin-top: 5px;
}

.navbar-toggler:not(.collapsed) .icon-bar:nth-child(1) {
    transform: rotate(45deg) translate(6px, 6px);
    transition: ease all .3s;
}

.navbar-toggler:not(.collapsed) .icon-bar:nth-child(2) {
    opacity: 0;
    transition: ease all .3s;
}

.navbar-toggler:not(.collapsed) .icon-bar:nth-child(3) {
    transform: rotate(-45deg) translate(4px, -4px);
    transition: ease all .3s;
}

.navbar-button {
    display: flex;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.navbar-button .nav-item {
    display: flex;
    align-items: center;
}

.navbar-button>.nav-item+.nav-item {
    margin-left: 12px;
}

.navbar-button .nav-item .btn-icon {
    --btn-icon-size: 28px;
    --icon-square-size: 20px;
}

@media (min-width: 768px) {

    .navbar {
        box-shadow: none;
    }

    .navbar-nav .nav-link {
        margin: 0 10px;
    }

    .navbar-nav .nav-link.active {
        border-color: #495469;
    }

    .navbar-button .nav-item .btn-icon {
        --btn-icon-size: 22px;
        --icon-square-size: 16px;
    }
}

@media (min-width: 992px) {

    .navbar-button>.nav-item+.nav-item {
        margin-left: 20px;
    }

    .navbar-button .nav-item .btn-icon {
        --btn-icon-size: 40px;
        --icon-square-size: 27px;
    }

    .navbar-nav .nav-link {
        margin: 0 20px;
    }
}

@media (min-width: 1200px) {

    .navbar-nav {
        --bs-nav-link-font-size: 18px;
    }

    .navbar-nav .nav-link {
        margin: 0 40px;
    }
}

/*//////////////////////////////////////////////////////////////////
[ + FOOTER ]*/

.footer {
    padding: 24px 0;
}

.footer-widget {
    margin-bottom: 18px;
}

.footer-widget .logo {
    width: 140px;
}

.footer-widget .footer-inn {
    font-size: 10px;
}

.footer-widget .footer-main-menu {
    --bs-nav-link-font-size: 12px;
    --bs-nav-link-padding-x: 0;
    --bs-nav-link-padding-y: 4px;
    margin-top: -4px;
}

.footer-widget .footer-contacts {
    --bs-nav-link-font-size: 12px;
    --bs-nav-link-padding-x: 0;
    --bs-nav-link-padding-y: 4px;
}

.footer-widget .footer-socials .list-inline-item:not(:last-child) {
    margin-right: 17px;
}

.footer-widget .footer-socials a {
    font-size: 23px;
}

.footer-widget .developer-labels img {
    height: 20px;
}

.footer-widget .footer-law-menu {
    --bs-nav-link-font-size: 10px;
    --bs-nav-link-font-weight: 500;
    --bs-nav-link-padding-x: 0;
    --bs-nav-link-padding-y: 4px;
    --bs-nav-link-color: var(--color-light-gray);
}

.footer-widget .copyright {
    color: var(--color-light-gray);
    font-size: 10px;
}

@media (min-width: 768px) {

    .footer .container {
        max-width: 650px;
    }

    .footer-widget {
        margin-bottom: 8px;
    }

    .footer-widget .logo {
        width: 120px;
    }

    .footer-widget .footer-inn {
        font-size: 6px;
    }

    .footer-widget .footer-main-menu {
        --bs-nav-link-font-size: 8px;
    }

    .footer-widget-title {
        font-size: 8px;
    }

    .footer-widget .footer-contacts {
        --bs-nav-link-font-size: 8px;
        --bs-nav-link-padding-y: 2px;
    }

    .footer-widget .footer-socials .list-inline-item:not(:last-child) {
        margin-right: 12px;
    }

    .footer-widget .footer-socials a {
        font-size: 14px;
    }

    .footer-widget .developer-labels img {
        height: 12px;
    }

    .footer-widget .footer-law-menu {
        --bs-nav-link-font-size: 6px;
        --bs-nav-link-font-weight: 500;
        --bs-nav-link-padding-x: 0;
        --bs-nav-link-padding-y: 2px;
        --bs-nav-link-color: var(--color-white);
    }

    .footer-widget .copyright {
        color: var(--color-white);
        font-size: 6px;
    }
}

@media (min-width: 992px) {

    .footer {
        padding: 42px 0;
    }

    .footer .container {
        max-width: 960px;
    }

    .footer-widget {
        margin-bottom: 16px;
    }

    .footer-widget .logo {
        width: 300px;
    }

    .footer-widget .footer-inn {
        font-size: 16px;
    }

    .footer-widget .footer-main-menu {
        --bs-nav-link-font-size: 20px;
        --bs-nav-link-padding-y: 10px;
        margin-top: -10px;
    }

    .footer-widget-title {
        font-size: 20px;
    }

    .footer-widget .footer-contacts {
        --bs-nav-link-font-size: 20px;
        --bs-nav-link-padding-y: 6px;
    }

    .footer-widget .footer-socials .list-inline-item:not(:last-child) {
        margin-right: 20px;
    }

    .footer-widget .footer-socials a {
        font-size: 42px;
    }

    .footer-widget .developer-labels img {
        height: 30px;
    }

    .footer-widget .footer-law-menu {
        --bs-nav-link-font-size: 16px;
        --bs-nav-link-font-weight: 500;
        --bs-nav-link-padding-x: 0;
        --bs-nav-link-padding-y: 6px;
    }

    .footer-widget .copyright {
        font-size: 16px;
    }
}

@media (min-width: 1400px) {

    .footer .container {
        max-width: 1320px;
    }
}

@media (min-width: 1600px) {

    .footer .container {
        max-width: 1400px;
    }
}

/*//////////////////////////////////////////////////////////////////
[ + MODAL ]*/

.modal {
    --bs-modal-width: 700px;
    --bs-modal-padding: 1rem;
    --bs-modal-header-border-width: 0;
    --bs-modal-header-padding: 1rem;
    --bs-modal-border-width: 0;
    --bs-modal-border-radius: 0;
}

.btn-close:focus {
    box-shadow: none;
}

@media (min-width: 992px) {

    .modal-lg,
    .modal-xl {
        --bs-modal-width: 900px;
    }
}

@media (min-width: 1200px) {

    .modal-xl {
        --bs-modal-width: 1100px;
    }
}

/*//////////////////////////////////////////////////////////////////
[ + MODAL ADD ITEM ]*/

.modal-additem .modal-xl {
    --bs-modal-width: 300px;
}

.modal-additem {
    --bs-modal-padding: 26px 50px;
}

.modal-additem .btn-close {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 12px;
    height: 12px;
    background-size: 12px;
    z-index: 5;
}

.card.card-additem {
    --bs-card-spacer-y: 4px;
    --bs-card-spacer-x: 0;
    --bs-card-border-width: 0;
    --bs-card-border-radius: 0;
    --bs-card-inner-border-radius: 0;
    --bs-card-cap-padding-y: 0.5rem;
    --bs-card-cap-padding-x: 0;
    --bs-card-bg: transparent;
    padding-bottom: 60px;
}

.card-additem .additem-title {
    font-size: 11px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 5px;
}

.card-additem .additem-price {
    font-size: 10px;
    margin-bottom: 0;
}

.card-additem .button-box {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}

.card-additem .btn {
    --bs-btn-padding-x: 16px;
    --bs-btn-padding-y: 4px;
    --bs-btn-font-size: 8px;
    --bs-btn-border-radius: 4px;
    width: 100%;
    margin-bottom: 4px;
}

.modal-additem .card.product-card {
    --bs-card-spacer-y: 6px;
}

.modal-additem .card.product-card .card-title {
    font-size: 8px;
    text-transform: uppercase;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.modal-additem .card.product-card .card-price {
    font-size: 8px;
}

.modal-additem .card.product-card .btn {
    --bs-btn-padding-x: 6px;
    --bs-btn-padding-y: 2px;
    --bs-btn-font-size: 6px;
    --bs-btn-border-radius: 4px;
}

.card.card-cart-item {
    --bs-card-spacer-y: 12px;
    --bs-card-spacer-x: 0;
    --bs-card-title-spacer-y: 0;
    --bs-card-border-color: #E6E7E8;
    --bs-card-border-radius: 0;
    --bs-card-inner-border-radius: 0;
    border-left: 0;
    border-right: 0;
    margin-top: -1px;
}

.number-quantity {
    user-select: none;
    position: relative;
    display: inline-flex;
    align-items: center;
    width: 123px;
    height: 26px;
    margin-top: 8px;
}

.number-text {
    display: inline-block;
    font-size: 16px;
    line-height: 16px;
    width: 100%;
    height: 16px;
    padding: 0 38px;
    background: #fff;
    outline: none;
    border: none;
}

.number-unit {
    position: absolute;
    right: 36px;
    display: inline-block;
    font-size: 16px;
    line-height: 16px;
}

.number-minus,
.number-plus {
    position: absolute;
    top: 0;
    display: block;
    width: 26px;
    height: 26px;
    border-radius: 8px;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    text-decoration: none;
    background-color: var(--color-yellow);
    z-index: 5;
}

.number-minus {
    left: 0;
    right: auto;
}

.number-plus {
    right: 0;
    left: auto;
}

.number-minus:hover,
.number-plus:hover {
    background-color: var(--color-orange);
}

.number-minus:active,
.number-plus:active {
    background-color: var(--color-orange);
}

.accordion.accordion-promo {
    --bs-accordion-color: #485368;
    --bs-accordion-bg: #F7F7F7;
    --bs-accordion-border-width: 0;
    --bs-accordion-border-radius: 15px;
    --bs-accordion-inner-border-radius: 15px;
    --bs-accordion-btn-padding-x: 1rem;
    --bs-accordion-btn-padding-y: 1rem;
    --bs-accordion-btn-color: #485368;
    --bs-accordion-btn-bg: #F7F7F7;
    --bs-accordion-btn-icon: url(../img/accordion-01.svg);
    --bs-accordion-btn-icon-width: 16px;
    --bs-accordion-btn-active-icon: url(../img/accordion-02.svg);
    --bs-accordion-btn-focus-box-shadow: none;
    --bs-accordion-body-padding-x: 1rem;
    --bs-accordion-body-padding-y: 1rem;
    --bs-accordion-active-color: #485368;
    --bs-accordion-active-bg: #F7F7F7;
}

.accordion.accordion-promo .form-control {
    padding: 13px 16px;
    color: #BFC2C9;
    background-color: #F7F7F7;
    border-color: #E3E3E3;
    border-radius: 11px;
}

.accordion.accordion-promo .btn-gray {
    --bs-btn-padding-x: 16px;
    --bs-btn-padding-y: 13px;
    --bs-btn-font-weight: 400;
    --bs-btn-border-width: 1px;
    --bs-btn-border-radius: 11px;
    position: absolute;
    top: 0;
    right: 0;
}

@media (min-width: 768px) {

    .modal-additem .modal-xl {
        --bs-modal-width: 500px;
    }

    .modal-additem {
        --bs-modal-padding: 32px 40px;
    }

    .modal-additem .btn-close {
        position: absolute;
        top: 22px;
        right: 22px;
        width: 20px;
        height: 20px;
        background-size: 20px;
    }

    .card.card-additem {
        --bs-card-spacer-y: 8px;
        --bs-card-spacer-x: 0;
        --bs-card-border-width: 0;
        --bs-card-border-radius: 0;
        --bs-card-inner-border-radius: 0;
        --bs-card-cap-padding-y: 0.5rem;
        --bs-card-cap-padding-x: 0;
        --bs-card-bg: transparent;
        padding-bottom: 0;
    }

    .card-additem .additem-title {
        font-size: 13px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        margin-bottom: 4px;
    }

    .card-additem .additem-price {
        font-size: 16px;
        margin-bottom: 0;
    }

    .card-additem .button-box {
        position: static;
    }

    .card-additem .btn {
        --bs-btn-padding-x: 16px;
        --bs-btn-padding-y: 4px;
        --bs-btn-font-size: 9px;
        --bs-btn-border-radius: 6px;
        width: auto;
        margin-bottom: 0;
        margin-right: 6px;
    }

    .modal-additem .card.product-card {
        --bs-card-spacer-y: 6px;
    }

    .modal-additem .card.product-card .card-title {
        font-size: 8px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .modal-additem .card.product-card .card-price {
        font-size: 12px;
    }

    .modal-additem .card.product-card .btn {
        --bs-btn-padding-x: 6px;
        --bs-btn-padding-y: 2px;
        --bs-btn-font-size: 8px;
        --bs-btn-border-radius: 6px;
    }

    .card.card-cart-item .card-title {
        font-weight: 600;
    }
}

@media (min-width: 992px) {

    .modal-additem .modal-xl {
        --bs-modal-width: 900px;
    }

    .modal-additem {
        --bs-modal-padding: 65px 70px;
    }

    .modal-additem .btn-close {
        position: absolute;
        top: 32px;
        right: 32px;
        width: 30px;
        height: 30px;
        background-size: 30px;
    }

    .card.card-additem {
        --bs-card-spacer-y: 8px;
        --bs-card-spacer-x: 30px;
        --bs-card-border-width: 0;
        --bs-card-border-radius: 0;
        --bs-card-inner-border-radius: 0;
        --bs-card-cap-padding-y: 0.5rem;
        --bs-card-cap-padding-x: 0;
        --bs-card-bg: transparent;
    }

    .card-additem .additem-title {
        font-size: 24px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        margin-bottom: 16px;
    }

    .card-additem .additem-price {
        font-size: 28px;
        margin-bottom: 0;
    }

    .card-additem .btn {
        --bs-btn-padding-x: 16px;
        --bs-btn-padding-y: 10px;
        --bs-btn-font-size: 16px;
        --bs-btn-border-radius: 12px;
        margin-right: 10px;
    }

    .modal-additem .card.product-card {
        --bs-card-spacer-y: 16px;
    }

    .modal-additem .card.product-card .card-title {
        font-size: 14px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .modal-additem .card.product-card .card-price {
        font-size: 21px;
    }

    .modal-additem .card.product-card .btn {
        --bs-btn-padding-x: 20px;
        --bs-btn-padding-y: 6px;
        --bs-btn-font-size: 14px;
        --bs-btn-border-radius: 10px;
    }
}

@media (min-width: 1200px) {

    .card-additem .btn {
        --bs-btn-padding-x: 20px;
    }

    .cart-body {
        padding-right: 50px;
    }
}

/*//////////////////////////////////////////////////////////////////
[ + CTA SECTION ]*/

.cta-form {
    position: relative;
    padding-bottom: 58px;
}

.cta-form .form-control {
    height: 58px;
    font-size: 16px;
    padding: 18px 22px;
}

.cta-form .form-check-label {
    font-size: 12px;
}

.cta-form .btn {
    position: absolute;
    top: auto;
    bottom: 0;
    width: 100%;
    height: 58px;
    font-size: 16px;
}

@media (min-width: 768px) {

    .cta-title::after {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 147px;
        width: 77px;
        height: 12px;
        background: transparent url(../img/arrow.svg) 50%/77px auto no-repeat;
    }

    .cta-form {
        padding-bottom: 0;
    }

    .cta-form .form-control {
        height: 43px;
        font-size: 13px;
        padding: 13px 16px;
    }

    .cta-form .form-check-input {
        width: 15px;
        height: 15px;
    }

    .cta-form .form-check-input[type=checkbox],
    .cta-form .form-check-input[type=radio] {
        border-radius: 6px;
    }

    .cta-form .form-check-label {
        font-size: 10px;
        font-weight: 600;
    }

    .cta-form .btn {
        top: 0;
        right: 0;
        bottom: auto;
        width: auto;
        height: 43px;
        font-size: 13px;
        padding: 5px 14px;
    }
}

@media (min-width: 992px) {

    .cta-title::after {
        left: 250px;
    }

    .cta-form .form-control {
        height: 76px;
        font-size: 24px;
        padding: 13px 22px;
    }

    .cta-form .form-check-input {
        width: 20px;
        height: 20px;
    }

    .cta-form .form-check-input[type=checkbox],
    .cta-form .form-check-input[type=radio] {
        border-radius: 8px;
    }

    .cta-form .form-check-label {
        font-size: 14px;
    }

    .cta-form .btn {
        height: 76px;
        font-size: 20px;
        padding: 13px 40px;
    }
}

@media (min-width: 1200px) {

    .cta-title::after {
        left: 250px;
        width: 141px;
        height: 23px;
        background: transparent url(../img/arrow.svg) 50%/141px auto no-repeat;
    }
}

/*//////////////////////////////////////////////////////////////////
[ + TESTIMONIAL SECTION ]*/

.card.card-testimonial {
    --bs-card-spacer-x: 0;
    --bs-card-spacer-y: 8px;
    --bs-card-border-width: 0;
    --bs-card-cap-padding-x: 0;
    --bs-card-cap-padding-y: 0;
}

.testimonial-link {
    margin-left: 20px;
}

@media (min-width: 768px) {

    .card.card-testimonial {
        --bs-card-spacer-y: 10px;
    }

    .testimonial-link {
        margin-left: 17px;
    }

    .testimonial-link .testimonial-arrow {
        width: 37px;
        height: 6px;
    }
}

@media (min-width: 992px) {

    .card.card-testimonial {
        --bs-card-spacer-y: 18px;
    }

    .testimonial-link {
        margin-left: 32px;
    }

    .testimonial-link .testimonial-arrow {
        width: 69px;
        height: 10px;
    }
}

/*//////////////////////////////////////////////////////////////////
[ + PRODUCT CARD ]*/

.card.product-card {
    --bs-card-spacer-y: 18px;
    --bs-card-spacer-x: 0;
    --bs-card-title-spacer-y: 0;
    --bs-card-border-width: 0;
    --bs-card-border-radius: 0;
    --bs-card-inner-border-radius: 0;
    --bs-card-cap-padding-y: 0;
    --bs-card-cap-padding-x: 0;
}

.card.product-card .card-title {
    font-size: 12px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.card.product-card .card-price {
    font-size: 12px;
}

.card.product-card .btn {
    --bs-btn-padding-x: 17px;
    --bs-btn-padding-y: 5px;
    --bs-btn-font-size: 8px;
    --bs-btn-border-radius: 6px;
}

@media (min-width: 768px) {

    .card.product-card {
        --bs-card-spacer-y: 10px;
    }

    .card.product-card .card-title {
        font-size: 12px;
    }

    .card.product-card .card-price {
        font-size: 12px;
    }
}

@media (min-width: 992px) {

    .card.product-card .card-title {
        font-size: 16px;
        text-transform: uppercase;
    }

    .card.product-card .card-price {
        font-size: 24px;
    }

    .card.product-card .btn {
        --bs-btn-padding-x: 14px;
        --bs-btn-padding-y: 9px;
        --bs-btn-font-size: 16px;
        --bs-btn-border-radius: 12px;
    }
}

@media (min-width: 1200px) {

    .card.product-card .btn {
        --bs-btn-padding-x: 26px;
    }
}