@font-face {
    font-family: 'OzHandicraft WGL4 BT';
    src: url('OzHandicraftBT-Roman.eot');
    src: local('OzHandicraft WGL4 BT Roman'), local('OzHandicraftBT-Roman'),
        url('OzHandicraftBT-Roman.eot?#iefix') format('embedded-opentype'),
        url('OzHandicraftBT-Roman.woff') format('woff'),
        url('OzHandicraftBT-Roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}